* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.icon {
    display: flex;
    justify-content: center;
    width: 100px;
}

.nav_container {
    width: 1200px;
}

.navigation {
    display: flex;
    justify-content: center;
}

.nav_link {
    list-style: none;
    padding: 25px;
    font-size: 25px;
    color: black;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: 33.3%;
}

img {
    width: 100%;
}

.main_header {
    color: black;
    font-size: 20px;
    text-align: start;
}

.header_container {
    margin-left: 30px;
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.image_contianer {
    padding-right: 20px;
}

.img {
    margin-left: 15%;
    margin: none;
    padding-left: 20px;
}

.input {
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
    margin-left: 5%;
    margin: none;
    padding-left: 20px;
}

.contact {
    margin-left: 5%;
    margin: none;
    padding-left: 20px;
    margin-top: 30px;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}